body{
    font-family: 'Barlow',sans-serif;
}

nav{
    display: flex;
    justify-content: end;
    width:100%;
    background-color:#cc5334;
    color: #f7c959;
    height: 80px;
    align-items: center;
    position: fixed;
}

.nav-link{
    color:#f7c959;
    font-size:25px;
}

.nav-link:hover{
    color: #7bbbe9;
}
.navbar{
    display:flex;
    flex-direction:row;
    align-items: center;
    
  }
.landing{
    margin-top: 80px;
    min-height: 900px;
    background-image: url(https://i.ibb.co/ChtQJJf/201603211209-0001-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
h1 {
   
    font-size: 80px;
    text-transform: uppercase;
    color:#cc5334;
    font-weight: 900;
}

.col{
    background-color:#faf6d4;
}

.container-fluid{
    background-color: #faf6d4;
    padding:0;
    display:flex;
    justify-content: center;
   
}

.row{
    justfy-content: 
}


.about{
    background-color:#faf6d4;
    min-height:980px;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: left;

  justify-content:center;

}

p{
    color:#cc5334;
    font-size:35px;
    margin-left: 10%;
    margin-right:10%


}

.shop{
    font-weight:900;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
   
    
}

.btn-primary{
    color:#faf6d4;
    background-color: #cc5334;
    font-size: 35px;
    border-color: transparent;
   
}

.btn{
   font-weight: 900;
   
}

.btn:hover{
    background-color:#7bbbe9;
    border-color: transparent;
    font-weight: 900;
}




.carousel-caption{
bottom: 20%;
}

.slide,
.carousel-inner
.carousel-item{
    width:100%;
    height: auto;
    object-fit:contain;
    object-position: center;
}


.carousel-item-img{
    width: 100%;
    height: 800px;
}


img{
    width: 100%;
    height: auto;

}