.nav-link {
    color: #ffdb00 !important;
    font-family: 'Barlow', sans-serif !important;
} 

.nav-link:hover {
    opacity: 70%;
}

.navbar-light {
    background-color: #cc5334 !important;
}

.navbar-toggler {
    border-color: #ffdb00 !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    padding-right: 50px;
    padding-left: 50px;
    align-self: center;
}

.main {
    font-family: 'Barlow', sans-serif;
    color: #cc5334;
    text-align: right;
}

.jumbotron {
    margin-bottom: 0px !important;
}

.jumbotron-main {
    background-image: url(https://i.ibb.co/SnpS1gB/Comp-3.gif); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
}

.main {
    text-align: left;
}

.main > h1 {
    font-weight: 900;
}

.main > p {
    font-weight: 600;
}

.page-footer {
    background-color: #3a3a28;
    color: #faf6d4;
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
}

.footer-main {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-icons {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.footer-icons > i {
    margin-left: 15px;
    margin-right: 15px;
}

.footer-icons > i:hover {
    color: #ffdb00;
    cursor: pointer;
}

.list-unstyled > li {
    margin-bottom: 15px;
}

.list-unstyled > li > a {
    color: #faf6d4;
    text-decoration: none;
}

.list-unstyled > li > a:hover {
    color: #ffdb00;
}

#inputEmail {
    height: 30px;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

#inputEmail:focus {
    border-color: #ffdb00;
    box-shadow: 0 0 5px #ffdb00;
}

.footer-copyright {
    background-color: black;
    font-size: 10px;
    opacity: 80%;
}
